simulations/BERvsMSNR_different_beta
simulations/BERvsMSNR_different_L_K_ratio
simulations/BERvsMSNR_different_noise_ratio
simulations/BERvsMSNR_different_sample_size_with_noise
simulations/BERvsMSNR_different_sample_size
simulations/BERvsMSNR_different_gama
simulations/BERvsMSNR_different_alpha